<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/loggedin-layout}">
	<head>
		<script th:src="@{js/rate-card.js}"></script>
		<script type="text/javascript" th:src="@{js/offers.js}"></script>
	</head>
	<body>
		<div layout:fragment="content">
			<form action="#" th:action="@{/toggleOfferStatus}" th:object="${offersForm}" method="post" id="offersForm">
				<div class="container applicationHost">
					<ol class="breadcrumb">
					  <li class="breadcrumb-item active">Home</li>
					</ol>
					<h5>Offer Details</h5>
					<div th:if="${offersForm != null && offersForm.message != null}" class="alert alert-warning alert-dismissable">
						    <a href="#" class="close" data-dismiss="alert" aria-label="close">x</a>
						    <strong th:text="${offersForm.message}"></strong>
					</div>
					<div class="form-group">
				      <label for="addOfferText">Add Offer:</label>
				      <input type="text" name="addOfferText" class="form-control" id="addOfferText" placeholder="Add Offer..." maxlength="500" path=${addOfferText}>
				      <small id="addOfferText" class="form-text text-muted">(maximum length : 500 chars)</small>
				      <button type="button" class="btn btn-primary btn-sm" onclick="javascript:addOffer()">Add</button>
				    </div>
					<br/><br/>
					<button type="button" onclick="javascript:toggleValidity('Y')" class="btn btn-success btn-sm">Mark Valid</button>
					<button type="button" onclick="javascript:toggleValidity('N')" 
						class="btn btn-secondary btn-sm">Mark Invalid</button>
					<br/><br/>	
					<div class="input-group"> <span class="input-group-addon">Filter :&nbsp;</span>
						    <input id="filter" type="text" class="form-control" placeholder="Type here...">
					</div>
					<br/>
					<table class="table w-auto small table-hover" id="items-table">
						<thead>
							 <tr>
							 	<th>Index</th>
							    <th>#</th>
							    <th>Offer</th>
							    <th>Added By</th>
							    <th>Added on</th>
							    <th>Valid</th>
							</tr>
						</thead>
						<tbody class="searchable">	
							<tr th:if="${#lists.isEmpty(offersForm.offers)}">
								<td colspan="6" align="center"> No Offers </td> 
							</tr>
							<tr th:if="${not #lists.isEmpty(offersForm.offers)}" th:each="offer,itemStat : ${offersForm.offers}">
								<td th:text="${itemStat.index}+1"></td>
								<td>
									<input type="checkbox" id="offerIds" path="${offerIds}" name="offerIds" th:value="${offer.id}">
								</td> 
							    <td th:text="${offer.name}"></td>
						        <td th:text="${offer.addedBy}"></td>
						        <td th:text="${offer.addDate}" align="left"></td>
						        <td th:text="${offer.offerAvailability} == 'Y' ? 'Yes':'No'"></td>
						        
						    </tr>
					    </tbody>
					</table>
					<input type="hidden" name="offerStatus" id="offerStatus" path="${offerStatus}"/>
						
				</div>
			</form>
		</div>	
	</body>
</html>

